{% extends 'base.html' %}
{% block content %}
<section class="site-formal-info">
  <div class="container">
    <p class="site-formal-info-p">著作権・免責事項</p>
    <p class="site-formal-info-content">「Labo Library」及びホームページ掲載情報は、日本国の著作権法および国際条約による著作権保護の対象となっています。当ホームページの内容について、私的使用又は引用等著作権法上認められた行為を除き、「Labo Library」に無断で転載等を行うことはできません。また、引用を行う際は適宜の方法により、必ず出所を明示してください。当ホームページの内容の全部または一部について、「Labo Library」に無断で改変を行うことはできません。</p>
    <p class="site-formal-info-content">当ホームページの掲載情報の正確性については万全を期しておりますが、「Labo Library」は利用者が当ホームページの情報を用いて行う一切の行為について何ら責任を負うものではありません。その他当ホームページは予告なしに内容を変更又は削除する場合があります。あらかじめご了承下さい。</p>
  </div>
</section>
{% endblock %}
