{% extends 'base.html' %}
{% block content %}
<section class="site-formal-info">
  <div class="container">
    <p class="site-formal-info-p">プライバシーポリシー</p>
    <p class="site-formal-info-content">本プライバシーポリシーは、Lab-Library　ラボラブのアプリ（以下「本件アプリ」といいます。）及び本件アプリ又は各種ウェブ閲覧ソフト（本件アプリと総称して以下「本件アプリ等」といいます。） を通じて提供されるサービス（以下「本件サービス」といいます。）のご利用に当たり、 利用者の皆様がLabo-Library（以下「弊チーム」といいます。）と弊チームが提携する各企業に対して提供される情報（以下「情報」といいます。）の収集、使用、共有および保護に関して規定しています。</p>
    <p class="site-formal-info-content">弊チームは、利用者のプライバシーの保護を重視し、尊重することをお約束します。 本プライバシーポリシーは、本件サービスに関して、弊チームと弊チームが提携する各企業が情報をどのように収集し、使用し、共有し、保護するのか、利用者が情報をどのように修正し、削除することができるか、などを説明することにより、利用者のプライバシーについて透明性を高め、利用者の権利を保護することを目的としています。</p>
    <p class="site-formal-info-content">1. 弊チームが収集・利用する情報及びその目的<br>弊チームは、本件サービスのご利用に当たり、利用者に対して、以下に定める情報の提供をお願いし、かかる情報を以下に定める目的のために利用します。 利用者は、本件アプリ等を用いて以下の情報を提供する際に、弊チームが以下に定める目的のために当該情報を利用することに同意します。</p>
    <table>
      <tr>
        <td valign="top" class="table-left bold">利用者が提供する情報</td>
        <td valign="top" class="bold">弊チームの利用の目的</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">メールアドレス</td>
        <td valign="top">ご大学生であることの確認<br>ユーザー認証<br>ステータスの保存・引継ぎ<br>マーケティング調査・統計・分析<br>お問い合わせ対応</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">生年月日</td>
        <td valign="top">年齢確認<br>お問い合わせ対応</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">性別・氏名</td>
        <td valign="top">ステータスの保存・引継ぎ<br>マーケティング調査・統計・分析<br>お問い合わせ対応</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">電話番号</td>
        <td valign="top">お問い合わせ対応</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">学校情報・経歴・スキル</td>
        <td valign="top">ステータスの保存・引継ぎ<br>マーケティング調査・統計・分析<br>お問い合わせ対応</td>
      </tr>
    </table>
    <p class="site-formal-info-content">また、弊チームは、利用者による本件サービスのご利用に当たり、以下に定める情報を以下に定める方法により、以下に定める目的のために付与し、収集し、利用します。 利用者は、本件アプリ等を用いた本件サービスの利用を継続することをもって、 弊チームが当該目的のために当該情報を利用することに同意するものとします。</p>
    <table>
      <tr>
        <td valign="top" class="table-left bold">弊チームが付与・収集する情報</td>
        <td valign="top" class="table-middle bold">付与・収集の方法</td>
        <td valign="top" class="bold">弊チームの利用の目的</td>
      </tr>
      <tr>
        <td valign="top" class="table-left">IPアドレス<br>OSが提供する広告ID<br>OSのバージョン<br>OS情報<br>Webページを閲覧したURL<br>Webページを閲覧した日時のタイムスタンプ<br>アクセスログ<br>インターネットへの接続に関する情報<br>デバイスの固有情報<br>リファラ<br>位置情報<br>利用者のアクションに関する情報<br>外部サービスのプライバシー設定により利用者が連携先に開示を認めた情報（※）<br>携帯端末の機種名<br>携帯端末識別子（UUID、UIID、IMEI、MACアドレス）<br>端末識別子<br>第三者サービス利用時に自動的に付与されるID・識別子<br></td>
        <td class="table-middle">自動取得</td>
        <td>ステータスの保存・引継ぎ<br>広告効果測定<br>広告配信<br>マーケティング調査・統計・分析<br>アプリの改善<br>お問い合わせ対応<br>外部サービスとの連携</td>
      </tr>
    </table>
    <p class="site-formal-info-content">※Google Calendar APIの利用について<br>本サービスでは、本サービスのカレンダーの予定をGoogleカレンダーにも登録（カレンダーの作成、変更、削除、個々の予定の更新等を含みます。）する機能（以下「カレンダー同期機能」といいます。）のためにGoogle Calendar APIを利用しています。</p>
    <p class="site-formal-info-content">Google Calendar APIから取得した情報は、カレンダー同期機能でのみ利用しており、本サービスのカレンダーの予定をGoogleカレンダーにも登録（カレンダーの作成、変更、削除、個々の予定の更新等を含みます。）する用途以外では利用しません。</p>
    <p class="site-formal-info-content">カレンダー同期機能の利用は、利用者が当該機能を利用するためにGoogleの認証ページで同期を許可した場合に限ります。</p>
    <p class="site-formal-info-content">Google Calendar APIおよびGoogleのプライバシーポリシーについては以下をご覧ください。</p>
    <p class="site-formal-info-content">Google Calendar API：https://developers.google.com/calendar<br>Googleのプライバシーポリシー : https://policies.google.com/privacy?hl=ja&gl=ZZ</p>
    <p class="site-formal-info-content">なお、弊チームでは、本件サービスの利用者が入力したメールアドレスが大学が発行したメールアドレスであるか否かを判定することを通じて、利用者が18歳未満でないことを確認します。 弊チームは、本件サービスに関連して、18歳未満の子供に対して製品およびサービスを提供したり、それを認識しながら子供から情報を収集しまたは勧誘することはありません。</p>
    <p class="site-formal-info-content">個人情報保護方針<br>弊チームは、弊チームが取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、 本人の権利の保護、個人情報に関する法規制等を遵守します。 また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、 最新のＩＴ技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、 その継続的改善に、全社を挙げて取り組むことをここに宣言します。</p>
    <p class="site-formal-info-content">ａ）個人情報は、キャリアプラットフォーム運営事業における弊チームの正当な事業遂行上並びに従業員の雇用、人事管理上必要な範囲に限定して、取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）を行いません。 また、目的外利用を行わないための措置を講じます。</p>
    <p class="site-formal-info-content">ｂ）個人情報保護に関する法令、国が定める指針及びその他の規範を遵守致します。</p>
    <p class="site-formal-info-content">ｃ）個人情報の漏えい、滅失、き損などのリスクに対しては、 合理的な安全対策を講じて防止すべく事業の実情に合致した経営資源を注入し個人情報セキュリティ体制を継続的に向上させます。 また、個人情報保護上、問題があると判断された場合には速やかに是正措置を講じます。</p>
    <p class="site-formal-info-content">ｄ）個人情報取扱いに関する苦情及び相談に対しては、迅速かつ誠実に、適切な対応をさせていただきます。</p>
    <p class="site-formal-info-content">ｅ）個人情報保護マネジメントシステムは、弊チームを取り巻く環境の変化を踏まえ、適時・適切に見直してその改善を継続的に推進します。</p>
    <p class="site-formal-info-content">・越境データ移転<br>情報共有は時として、例えば米国、その他の法域への越境データ移転を伴う場合があります。例えば、日本に居住する利用者を対象に含むサービスの場合、その利用者の個人情報が日本以外の国に移転されることになります。本プライバシーポリシーに同意する場合、利用者は、かかる国境を越えたデータ移転に同意するものとします。弊チームは、適切な契約上の措置を通じて、これらの移転を保護します。</p>
    <p class="site-formal-info-content">・利用者の個人情報の保護方法<br>利用者の個人情報への不正アクセス、その改ざん、漏えいまたは破棄から利用者を保護するため、弊チームは可能な限りの努力を払っています。弊チームは物理的、技術的、組織的な安全策を更新するため、システムの脆弱性や攻撃を定期的に監視するとともに、情報の収集、保存、処理業務を定期的にチェックしています。セキュリティ違反の疑いがあるか、違反が実際に発見された場合、弊チームはサービスの全部または一部について、利用者による使用を予告なしに中断する場合があります。利用者のアカウントまたは情報がもはや安全でないと思われるときは、至急弊チームにご連絡くださるようお願いいたします。弊チームは、 従業者に対し、セキュリティや個人情報の適切な取り扱いに関する必要な教育、啓発活動を行なっています。</p>
    <p class="site-formal-info-content">・利用者情報の保有期間<br>弊チームによる利用者情報の保有は、正当な事業上の目的で弊チームが必要とする期間に限り、また、適用法が許す範囲内で行います。</p>
    <p class="site-formal-info-content">・プライバシーポリシーの変更<br>本ポリシーはいずれ変更される可能性があります。重大な変更がなされるときは、利用者が確認の時間を持てるように、事前に通知させていただく所存です。</p>
  </div>
</section>
{% endblock %}
