{% extends 'base.html' %}
{% block content %}
<section class="site-formal-info">
  <div class="container">
    <p class="site-formal-info-p">利用規約</p>
    <p class="site-formal-info-content">「Lab-Library　ラボラブ」（以下「弊チーム」といいます）は、Lab-Library　ラボラブ会員規約（以下「本規約」といいます）を、以下の通り定めます。</p>
    <p class="site-formal-info-content">第1条（Lab-Library　ラボラブ)<br>「Lab-Library　ラボラブ」とは、弊チームチームが提供するインターネット上のコミュニティおよび大学院情報サービス総合サイト（URL）および会員を対象とした各種情報提供サービスの総称をいいます。</p>
    <p class="site-formal-info-content">第2条（会員）<br>1. 本規約において「会員」とは、弊チームの指定する手続きに基づき、本規約を承諾のうえ弊チーム所定の方法にてLab-Library　ラボラブの利用を申込み、弊チームがこれを承認した者とします。当該会員登録および承認後、会員はLab-Library　ラボラブにおける会員向けサービスを利用できるものとします。</p>
    <p class="site-formal-info-content">2. 会員はLab-Library　ラボラブに会員登録をした時点で、本規約の内容をすべて承諾したものとみなされます。不承諾の意思表示は、Lab-Library　ラボラブの会員登録を行わないことまたは抹消することをもってのみ認められるものとします。</p>
    <p class="site-formal-info-content">3. 弊チームが会員として承認することを不適切と判断した場合、入会を認めない場合があります。また承認後であっても第3条に従い承認の取り消しを行う場合があります。</p>
    <p class="site-formal-info-content">4. 会員が登録した個人情報のうちメールアドレスに誤りがあったために第三者からクレーム又は削除依頼があった場合、会員は、弊チームが事前の通知なしに当該メールアドレスを削除することを承諾するものとします｡</p>
    <p class="site-formal-info-content">5. 会員が会員登録の抹消を行わない場合または抹消を希望しない場合であっても、会員登録後の半年間にLab-Library　ラボラブに1度もログインしなかった場合、Lab-Library　ラボラブのデータベースメンテナンスの際に会員登録が抹消されることがあります。</p>
    <p class="site-formal-info-content">6. 弊チームは会員への事前の通知なしに、Lab-Library　ラボラブの会員サービスの変更または1週間に満たない一時的な中断を行うことがあります。</p>
    <p class="site-formal-info-content">7. 弊チームは1ヶ月の予告期間をもって会員に通知の上、Lab-Library　ラボラブ全体の提供を1週間以上中期的に中断または終了することができます。</p>
    <p class="site-formal-info-content">第3条（会員登録の取り消し）<br>弊チームは、会員への加入を承認した場合でも、以下の項目に該当すると判断した場合は、事前通告なく会員への加入の承認の取り消しおよび会員登録の取り消しを行うことができ、当該会員に対して、Lab-Library　ラボラブの全部あるいは一部の一時的・完全なサービスの利用停止の措置をとることができます。</p>
    <p class="site-formal-info-content">1. 申込者が本規約に基づく義務の履行を怠り、またはそのおそれのある場合。</p>
    <p class="site-formal-info-content">2. 弊チームの運営を妨げ、もしくは信頼を毀損し、またはそれらのおそれがある場合。</p>
    <p class="site-formal-info-content">3. 弊チームのサービスを受ける際の登録事項が、故意・過失の有無に関わらず、虚偽・不十分・不正確であった場合。</p>
    <p class="site-formal-info-content">第4条（会員の禁止事項）<br>弊チームが提供するサービスでは、下記の行為は禁止致します。これに違反した場合、弊チームは第3条の措置またはそれに準じた措置を講ずることができるものとします。</p>
    <p class="site-formal-info-content">1. 他者の権利を侵害する行為（ストーカー、誹謗中傷等全てを含みます）。</p>
    <p class="site-formal-info-content">2. 他者の名誉を毀損する行為。</p>
    <p class="site-formal-info-content">3. 他者の個人情報や他者に属する著作権を侵害する表現を、当該人物の許可なく他の会員や第三者に送付・伝達、Lab-Library　ラボラブを含むすべての掲示板などへの書き込みをする行為。</p>
    <p class="site-formal-info-content">4. 政治活動や宗教活動、またはそれらにつながる行為。</p>
    <p class="site-formal-info-content">5. 自らの身分や出所を偽る、あるいは不明にする行為。</p>
    <p class="site-formal-info-content">6. 営利を目的として行う一切の行為。</p>
    <p class="site-formal-info-content">7. 公序良俗に反する行為、犯罪行為またはそれらに関連する全ての行為。</p>
    <p class="site-formal-info-content">8. 法律、法令違反またはそれらに関連する全ての行為。</p>
    <p class="site-formal-info-content">9. サービスの目的に反する行為。</p>
    <p class="site-formal-info-content">10. 大学・研究室からの問い合わせまたはスカウト等の連絡に対し第三者に返答・対応させる行為。</p>
    <p class="site-formal-info-content">第5条（会員の義務）<br>1. 会員は、弊チームが提供するサービスの利用にあたり、弊チームに登録しているメールアドレスおよびパスワードを使用するものとします。</p>
    <p class="site-formal-info-content">2. 会員は、メールアドレスおよびパスワードの使用および管理について自ら責任を持つものとします。会員は、自己のメールアドレスおよびパスワードによりなされた、弊チームが提供するサービスにかかる一切の行為およびその結果について当該行為を会員自身が行ったか否かまたは会員自身の過失の有無を問わず、自らその責任を負うものとします。</p>
    <p class="site-formal-info-content">3. 会員は、メールアドレスおよびパスワードの盗難もしくは失念があった場合、またはメールアドレスおよびパスワードが第三者に使用されていることが判明した場合、直ちに弊チームにその旨を届け出ると共に、弊チームからの指示に従うものとします。</p>
    <p class="site-formal-info-content">4. 会員が、第三者のメールアドレスおよびパスワードを不正に利用したことにより、当該第三者又は弊チームに損害を与えた場合、会員は当該不正使用によって生じた損害を当該第三者又は弊チームに賠償するものとします。</p>
    <p class="site-formal-info-content">第6条（登録情報の扱い）<br>1. 弊チームは、会員の個人情報を、第7条にて定める通りに取り扱います。</p>
    <p class="site-formal-info-content">2. 入会の際に会員が申告する登録情報のすべての項目に関して虚偽の申告は一切認めないものとします。</p>
    <p class="site-formal-info-content">3. 登録情報に変更が生じた場合、会員は速やかに所定の変更手続きを行うものとします。</p>
    <p class="site-formal-info-content">4. 会員は、Lab-Library　ラボラブの利用上発生した弊チーム、会員同士または第三者との間の苦情、クレーム、訴訟について、弊チームが要求する事項（文章、口頭による交渉を含むがこれに限定されない）をすべて弊チームに対して開示するものとします。</p>
    <p class="site-formal-info-content">5. 会員が本規約に同意する場合、弊チームは電子メールを随時配信し、その他の「Lab-Libraryラボラブ」外での広告・通知を行います。</p>
    <p class="site-formal-info-content">6. 会員に対して弊チームより各種のアンケート調査についてご協力をお願いすることがあります。</p>
    <p class="site-formal-info-content">7. 会員が本規約に同意する場合、当社は会員に対して、大学・研究室・企業からの委託による個別の案内、その他の進学・就職活動に役立つ情報や研究のノウハウ、キャリアアップに役立つ無料の情報や各種の学校情報などのご案内を電子メールなどの手段により提供できるものとします。</p>
    <p class="site-formal-info-content">8. 弊チームは、法令の規定に従い、登録情報をもとに、個人を特定できないよう加工した統計データを作成することがあります。当該統計データについては、弊チームはこれを法令の規定に従い自由に利用（第三者への提供を含みます）できるものとします。</p>
    <p class="site-formal-info-content">9. 会員が同意する場合、弊チームは、登録情報をもとに大学および企業が会員に対してスカウトを送信することを許可します。</p>
    <p class="site-formal-info-content">第7条（個人情報）<br>1. 「個人情報」とは、会員個人に関する情報であって、当該情報を構成する氏名、メールアドレス、学校名その他の記述により当該会員を識別できるものをいいます。また、その情報のみで識別できない場合でも、他の情報と容易に照合することができ、結果的に会員個人を識別できるものも個人情報に含まれます。</p>
    <p class="site-formal-info-content">2. 会員から提供された会員の個人情報は、弊チームの個人情報保護方針（外Lab-Library　ラボラブの利用に関するプライバシーポリシーを含みます。以下も同様です。）に従って管理・利用されます。</p>
    <p class="site-formal-info-content">3. 大学などに提供された会員の個人情報は、それぞれの大学の管理の下に、事務処理のために利用されます。大学および企業が管理する個人情報の取り扱いに関しては、各組織に直接お問い合わせください。</p>
    <p class="site-formal-info-content">4. 弊チームは、個人情報の管理には万全の体制で臨みます。弊チームは、弊チームの個人情報保護方針に定める場合を除き、会員の承認なしに第三者に対して個人情報を開示しないものとします。</p>
    <p class="site-formal-info-content">5. 以下の各号の場合においては、個人情報の提供を受ける者は、本条の規定の適用に関して第三者には該当しないものとします。</p>
    <p class="site-formal-info-content">(1) 弊チームがサービス提供のための範囲内において、個人情報の整理や保管、デジタル化、発送などの個人情報取扱い業務の全部または一部を委託する場合</p>
    <p class="site-formal-info-content">(2) 弊チームの合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
    <p class="site-formal-info-content">第8条（権利の帰属）<br>弊チームがLab-Library　ラボラブを通じて提供するサービス上で、会員が掲示した内容により知的所有権（著作権・意匠権・特許権・実用新案権・商標権・ノウハウ等を含むがこれに限られない）が発生する場合、当該権利はすべて弊チームに帰属するものとします。また、弊チームがLab-Library　ラボラブを通じて行う募集に対して応募した会員の作品、コンテンツについても同様とします。</p>
    <p class="site-formal-info-content">なお、Lab-Library　ラボラブ内の情報が、新聞・雑誌などに掲載され、あるいは書籍として出版されることもありますのであらかじめご了承ください。但し、弊チームは会員の個人情報を会員の承諾なしに公開することはありません。</p>
    <p class="site-formal-info-content">第9条（情報の利用）<br>1. 会員は、弊チームが承認した場合（当該情報に関して権利を持つ第三者がいる場合には、弊チームを通じ当該第三者の承認を取得することを含む。）を除き、Lab-Library　ラボラブを通じて入手したいかなる情報も複製、販売、出版、公開その他いかなる方法においても会員の個人としての私的利用以外の利用をすることはできず、また他の会員または第三者をして同様の行為をさせてはなりません。</p>
    <p class="site-formal-info-content">2. 会員は、営利の目的で外資就活ドットコムを利用してはなりません。</p>
    <p class="site-formal-info-content">3. この禁止事項を行った場合も、第3条の措置を講ずることができるものとします。</p>
    <p class="site-formal-info-content">第10条（弊チームの免責等）<br>1. 弊チームはLab-Library　ラボラブの利用により発生した会員または他の第三者が被った損害すべてに対し、いかなる責任も負わないものとし、一切の損害賠償をする義務はないものとします。</p>
    <p class="site-formal-info-content">2. 弊チームは、Lab-Library　ラボラブおよびその周辺サービスの遅滞なき運用に努力しますが、その運用を何ら保証するものではなく、運用の中断・停止または廃止に基づく損害賠償義務を免責されます。また、やむをえぬ事態により、弊チームは、会員の承諾なく、提供サ－ビスの内容の全部あるいは一部を変更・中断もしくは停止あるいは廃止する（改廃を含む）ことができます。</p>
    <p class="site-formal-info-content">3. Lab-Library　ラボラブにおいて提供される情報（企業の採用情報、広告その他第三者により提供される情報）はこの第三者の責任で提供されるものであり、これらの提供情報の内容に関して弊チームは一切の保証を行わないことを会員は了承の上、自己の責任において利用するものとします。</p>
    <p class="site-formal-info-content">4. 弊チームは会員から提供された原稿・画像・音声などの情報等を編集・再構成できる権利を持つものとし、会員はこれに対し著作者人格権を行使せず、また、何ら異議を申し立てないものとします。ただし、弊チームはかかる編集等の義務は一切負わないものとします。</p>
    <p class="site-formal-info-content">5. 弊チームが会員に対して提供する情報・サービスについては、弊チームは、これの完全性、正確性、有用性および合目的性に対し、弊チームはその調査義務を一切負わないものとし、また、一切の保証をおこなわないものとします。また提供された情報に起因する損害（身体的、精神的、財産的損害を含む）が会員に発生した場合でも、弊チームは一切の責任を負わないものとします。</p>
    <p class="site-formal-info-content">6. 弊チームは、掲示板への投稿およびメールの交換を含む会員同士の情報交換ならびに企業と会員との間の情報交換について、閲覧・調査する権利を持ちますが調査義務を負わないものとします。</p>
    <p class="site-formal-info-content">7. 弊チームは、会員によるメモ（非公開のメモおよび下書き中のメモを含みます。以下も同様です。）の内容を閲覧・調査することはありません。ただし、メモの利用、メモにかかるシステム等に関して異常が検知されるなどの合理的な理由がある場合には、弊チームは、不正なデータの有無等を確認するため、メモの利用状況、内容等を閲覧・調査することがあります。</p>
    <p class="site-formal-info-content">8. 弊チームは会員同士、会員と第三者、あるいは第三者同士のトラブルに対して、一切の責任を負わないものとします。万一トラブルが発生した場合、これは弊チームを含まない当事者同士で解決するものとします。</p>
    <p class="site-formal-info-content">9. 弊チームの提供するサービスに関して紛争が生じ、弊チームが会員または第三者からクレームを受け、裁判所において損害賠償その他の責任を認定され、その支払いに応じた場合には、弊チームは、当該トラブルの原因を作出した会員に対し、当該紛争にかかる一切の費用（賠償金、訴訟費用および弁護士費用を含む）を請求できるものとします。</p>
    <p class="site-formal-info-content">第11条（無断転載、再配布の禁止）<br>Lab-Library　ラボラブは、弊チームの運営するサイト名・サービス名であり、Lab-Library　ラボラブの記事・写真・イラストの無断転載、再配布を禁じます。</p>
    <p class="site-formal-info-content">第12条（管轄裁判所等）<br>1. 本規約に定めのない事項または本規約の解釈に疑義がある場合、信義に則り誠実にこれを解決するものとします。</p>
    <p class="site-formal-info-content">2. 本規約の準拠法は、日本法とします。</p>
    <p class="site-formal-info-content">3. 会員と弊チームの間で訴訟の必要が生じた場合、東京地方裁判所を第一審の管轄裁判所とします。</p>
    <p class="site-formal-info-content">4. 第10条第1項の規定が裁判所によって無効と判断され、会員が弊チームに対し損害賠償請求権等の何らかの請求権を有する場合、会員は、その権利につき、その発生原因が生じた日から1年以内に権利行使をしなければ、当該権利は失効するものとします。</p>
    <p class="site-formal-info-content">第13条（規約の変更）<br>1. 弊チームは、会員の了承を得ることなく、この会員規約を変更することがあります。また改訂された本規約は、改訂以前、以後に会員登録したかに関わらずすべての会員に対して適用されるものとします。</p>
    <p class="site-formal-info-content">2. 変更後の会員規約は、弊チームが別途定める場合を除いて、オンライン上に表示した時点より効力を生じるものとします。</p>
  </div>
</section>
{% endblock %}
