{% extends 'base.html' %}
{% block content %}
<section class="about-member">
  <div class="container">
    <p class="about-member-p">Labo Libraryのメンバー紹介</>
    <div class="profiles">
      <div class="each-profile">
        <div class="container">
          <div class="each-img profimg1"></div>
          <div class="flex-for-large">
            <p class="profname">丸山　友輔</p>
            <p class="profdesc">次々と新しいことに挑戦したがる自由人。大学院入学後、楽しそうという理由だけで独学し、今はデータサイエンス系のインターンシップに参加している。学部時代には留学やディズニーキャストも経験している。大学院進学に関する情報を集めるためインターネットを多用したが、結局何気なしに寄った大学会場の専攻説明会で今の研究室のことを知った。他大学院への進学を選びやすくすることによって、より多くの学生または社会人が新しい自分の可能性に気づける環境を創造したいと考えている。様々なバックグラウンドを持つ友達に恵まれ、日々楽しく過ごしている。</p>
          </div>
        </div>
      </div>
      <div class="each-profile">
        <div class="container">
          <div class="each-img profimg2"></div>
          <div class="flex-for-large">
            <p class="profname">横地　悠紀</p>
            <p class="profdesc">旅行とディズニーと何でも自動化することが大好きな道産子エンジニア。フリーランス時代はHP制作、AIを導入したWEBアプリ開発を通して札幌と東京を中心に約50の店舗やイベントの集客に貢献してきた。東大大学院には外部から入学したが、通常の大学受験とは異なり研究室情報や入試情報の収集に苦労した。このハードルが下がり、学生と研究室のミスマッチを減らせることをラボラブに期待しており、主にアプリの企画構成担当として参画することにした。ハイレベルな仲間と切磋琢磨し、刺激的な日々を楽しんでいる。</p>
          </div>
        </div>
      </div>
      <div class="each-profile">
        <div class="container">
          <div class="each-img profimg3"></div>
          <div class="flex-for-large">
            <p class="profname">泉水　史樹</p>
            <p class="profdesc">武道、料理、バイクなど、様々な特技を持つラボラブの運営担当。学部時代に第一志望であった癌陽子線治療に関する研究室に落選したが、核医学の道を諦めきれず東大の大学院へ。就職活動に力を注ぎ、外資IT/コンサル/ベンチャー/総合商社から複数内定を獲得する傍ら、研究活動においては国際学会含め年間5回の学会発表をこなす効率重視型のバイタリティ溢れる学生。「惰性で大学院に進む学生がミスマッチを感じている」という現状に不満を持っていた矢先、リーダーの丸山からラボラブの話を持ちかけられ二つ返事で参加を決める。</p>
          </div>
        </div>
      </div>
      <div class="each-profile">
        <div class="container">
          <div class="each-img profimg4"></div>
          <div class="flex-for-large">
            <p class="profname">横山　開</p>
            <p class="profdesc">チームの兄貴分で一児の父、ラボラブの戦略立案担当。高専を卒業後、職務経験を経て東大の大学院へ。学生として福島第一原子力発電所の廃炉に関する研究をしている。卒業後は日系コンサルティング会社に就業予定。ラボラブには「日本のアカデミック振興に貢献したい」という考えのもとに参画した。ラボラブでは主に運営に関する戦略立案と調査を担当しており、組織のまとめ役として厚い信頼を得ている。研究者、ラボラブメンバー、そして一家の大黒柱という三足の草鞋を器用に履きこなす。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
