{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>LaboLibrary</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Labo Libraryは学校学科専攻をまたいだキーワードによる研究室検索および、学生と研究室が気軽にコンタクトをとれる場を提供することで、双方にミスマッチのない研究室探しを支援するサービスです。さらに、学生がプロフィールや希望の条件を設定することで、それに興味を持った研究室からスカウトがくるなど全く新しい形での学生と研究室のマッチングを実現しています">
<meta name="keywords" content="研究室探し,やりたい研究,見つからない,研究室検索,>ラボラブ">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@beer_nomitai_y">
<meta name="twitter:title" content="Labo Library">
<meta name="twitter:description" content="Labo Libraryは学校学科専攻をまたいだキ
ーワードによる研究室検索および、学生と研究室が気軽にコンタクトをとれる場を提供す
ることで、双方にミスマッチのない研究室探しを支援するサービスです。さらに、学生が
プロフィールや希望の条件を設定することで、それに興味を持った研究室からスカウトが
くるなど全く新しい形での学生と研究室のマッチングを実現しています">
<meta name="twitter:image" content="https://www.labolibrary.com/static/accounts/img/login.jpg">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}">
<link rel="stylesheet" href="{% sass_src 'contact_form/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'feedback/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'laboratory_page/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'accounts/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'register_lab/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'search/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'data_upload/style.scss' %}">
<link rel="stylesheet" href="{% sass_src 'mypage/style.scss' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  {% include "base/header.html" %}
<div id="contents">
<section>
  {% block content %}
  {% endblock %}
</section>
</div>
{% include "base/footer.html" %}
</body>

</html>
