{% extends 'base.html' %}
{% block content %}
<section class="register-lab">
  <div class="container">
    <p class="register-lab-p">研究室登録</p>
    <div class="jumbotron">
      <p class="decided-list">研究室名：{{ laboratory.laboratory_name }}</p>
      <p class="decided-list">大学：{{ laboratory.belong_university }}</p>
      <p class="decided-list">学部：{{ laboratory.belong_faculty }}</p>
      <p class="decided-list">学科・専攻：{{ laboratory.belong_department }}</p>
      <form action="" method="POST">
          {% for field in form %}
              <div>
                  <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label><br>
                  {{ field }}
                  {{ field.errors }}
              </div>
          {% endfor %}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="送信">
      </form>
    </div>
  </div>
</section>
{% endblock %}
